<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>TodoList</title>
</head>

<body>
    <header>
        <h1>TodoList</h1>
        <a href="/todos/add">Add Todo</a>
        <hr>
    </header>