{% include 'partials/header.html' %}
<form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <label for="title">Title</label><br/>
    <input type="text" name="title" id="title"/>
    <br>
    <label for="text">Text</label><br/>
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>
<br>
<a href="/">Go Back</a>




{% include 'partials/footer.html' %}