{% include 'partials/header.html' %}
    <ul>
        {% for todo in todos %}
        <li>
            <a href="/todos/details/{{todo.id}}">{{todo.title}} : </a>
            {{todo.text}}
        </li>
        {% endfor %}
    </ul>
{% include 'partials/footer.html' %}